.body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.logo{
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03;
    text-transform: uppercase;
    color: #4d5ae5;
}
.nav-block{
    text-align: left;
    background-color: #E7E9FC;
}

.address{
    text-align: right;
  
}

.nav-menu{
    text-align: justify;

}
.second-block{
    background-color: #2E2F42;
    text-align: center;
}
.main-text{
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: #fff;

}
.buttom-main{
    font-family: "Roboto", sans-serif;
    text-align: center;
background: #4d5ae5;
}
.contetn-block{
    text-align: center;

}
.content-text{
    font-family: "Roboto", sans-serif;
    
}
.our-team-block{
  
    text-align: center;
}
.our-portfolio-section{
    text-align: center;
}
.footer-section{
    
    background-color: #2E2F42;
    
}
.footer-text{
    color: #F4F4FD;
    text-align: left;
}
