.body{
    font-family: "Roboto", sans-serif;
    width: 1440px;
    height: 3300px;
}
.logo{
    text-align: left;
}
.nav-block{
    text-align: left;
    width: 1440px;
    height: 72px;
    background-color: #E7E9FC;
}

.address{
    text-align: right;
  
}

.nav-menu{
    text-align: justify;
    width: 48px;
    height: 24px;
}
.second-block{
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    text-align: center;
}
.main-text{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    color: #fff;
    letter-spacing: 0.02em;
    border-top: 188px;
    border-bottom: 292px;
    border-left: 472px;
    border-right: 472px;

}
.buttom-main{
    font-family: "Roboto", sans-serif;
    text-align: center;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    padding: 16px, 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
}
.contetn-block{
    text-align: center;

}
.content-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.our-team-block{
    width: 1440px;
    height: 732px;
    text-align: center;
}
.our-portfolio-section{
    text-align: center;
}
.footer-section{
    width: 1440px;
    height: 312px;
    background-color: #2E2F42;
}
